@import url('https://fonts.googleapis.com/css?family=Offside');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url('https://fonts.googleapis.com/css?family=Monda:400,700');



html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro';
  background-image: url(https://images.unsplash.com/photo-1470218091926-22a08a325802?ixlib=rb-0.3.5&q=100&fm=jpg&crop=entropy&cs=tinysrgb&dl=ishan-seefromthesky-118581.jpg&s=7d9cc2dfed744ba6207925a286693b73);
  background-size: cover no repeat;
  background-position: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#header {
  width: 100%;
  height:300px;
  background-color: rgb(7, 54, 66);
  box-sizing: border-box;
  border: none;
  margin: 0;
}

#inner-header {
  width: 100%;
  height: 200px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  border: none;
  margin-top: 50px;
  position: absolute;

}

#red-back {
  font-family: offside;
  font-weight: bold;
  background-color: darkred;
  color: #f7f7f7;
  font-size: 100px;
  letter-spacing: 0em;
  margin-bottom: 0;
  margin-left: 20px;
}

#all-black {
  color: rgb(7, 54, 66);
  font-family: offside;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0em;
  margin-bottom: 0;
  margin-top: 12px; 
  margin-left: 650px;
}

#black-text {
  font-family: offside;
  font-weight: bold;
  background-color: rgb(7, 54, 66);
  color: #f7f7f7;
  font-size: 100px;
  letter-spacing: 0em;
  margin-bottom: 0;
  padding-left: 5px;
}

#motto {
  margin: 2px;
  font-family: Lobster, cursive;
  font-weight: 400i;
  text-transform: lowercase;
  margin-left: 670px;
  letter-spacing: 0.1em;
  font-size: 1.6em;
  border-top: 4px solid darkred;
  border-bottom: 4px solid darkred;
  width: 612px;
  padding-left: 100px;
}

#container {
  max-width: 53%;
  border: 1px solid transparent;
  height: 100%;
  margin: -50px auto;
  display: block;
  padding-bottom: 40px;
  background-color: #f7f7f7;
  position: relative;
  background-clip: padding-box;
  animation: fade 2s;
}

#nav {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background: darkred;
	border-bottom: none;
  height: 50px;
}

#nav li { 
	float: left;
	margin: 0;
	padding: 0;
  margin-left: 200px;
}
	
#nav a {
	float: left;
	display: block;
	padding: 6px 30px 6px 0px;
	text-decoration: none;
	font-weight: normal;
	font-size: 25px;
	color: white;
  margin-top: 4px;
}
	
#nav #nav-1 a {
	padding-left: -80px;
}
	
#nav a:hover {
	color: #000;
}

.blog-heading {
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Monda', sans-serif;;
  padding-left: 35px;
  padding-right: 35px;
  word-wrap: break-word; 
  width: 100%;
  line-height: 1;
}

#display {
  margin-top: 100px;
}

.blog-content {
  color: #2c3e50;
  font-weight: normal;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  display: block;
  word-wrap: break-word; 
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
}

#content {
  max-height: 45px;
  overflow: hidden;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

#read-more {
  margin-top: -15px;
  margin-bottom: 30px;
  text-decoration: none;
  padding-left: 35px;
  padding-bottom: 15px;
}

input[type="text"] {
  border:1px solid #d1c7ac;
	width: 90%;
	height: 60px;
	color:#333333;
	padding:5px;
  font-size: 2.0em;
  font-weight: bold;
  margin-top: 30px;
	margin-right:4px;
	margin-bottom:8px;
  margin-left: 50px;  
	font-family:tahoma, arial, sans-serif;
}

textarea {
  border:1px solid #d1c7ac;
	width: 90%;
	height: 380px;
	color:#333333;
	padding:3px;
  margin-left: 50px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin-left: 800px;
  margin-top: 50px;
  margin-bottom: 10px
}

#post-head {
  margin-left: 850px;
  position: relative;
}

 #delete-post, #editButton {

  margin-top: 20px;
  margin-right: 5px;
  background-color: white;
  color: darkslategrey;
  border: 2px solid dimgrey;
  padding: 2px 2px;
  height: 28px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  border-radius: 4px;

}

h5 {
  padding-left: 35px;
  color: rgb(7, 54, 66);
  margin-top: -15px;
  font-size: 14px;
}

#editButton:hover, #delete-post:hover {
  background-color: rgb(7, 54, 66);
  color: white;
}

#previous-button, #next-button {
  text-decoration: none;
  padding-left: 75px;
}

#next-button {
  margin-left: 700px;
}

/*class to hide and show divs*/
.hide-div {
  display: none;
  animation: fade 2s;
}

.show-div {
  display: block;
  animation: fade 2s;
}

/*sticky-nav*/
.sticky {
  position: fixed;
  top: 0;
  left: 300px;
  padding-right: 30px;
}

#footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  color: rgb(7, 54, 66);
  height: 35px;
  width: 100%;
  font-size: 12px;
  padding-left: 20px;
}


/*adding animation to divs*/

@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}



/*Media Queries*/


@media only screen and (max-width: 1860px) {

  #container {
      max-width: 60%;
  }
  #all-black {  
    margin-left: 500px;    
  }

  #motto {
    margin-left: 520px;
  }

  #nav li { 
    margin-left: 200px;
  }
}

@media only screen and (max-width: 1645px) {
  #post-head {
    margin-left: 620px;
  }
  #container {
      max-width: 55%;
  }
  #all-black {  
    margin-left: 400px;    
  }

  #motto {
    margin-left: 420px;
  }

  #nav li { 
    margin-left: 150px;
  }

  input[type="submit"] {
    margin-left: 650px; 
  }
}

@media only screen and (max-width: 1480px) {
  #post-head {
    margin-left: 550px;
  }
  #container {
      max-width: 60%;
  }
  #all-black {  
    margin-left: 400px;    
  }

  #motto {
    margin-left: 420px;
  }

  #nav li { 
    margin-left: 150px;
  }

  input[type="submit"] {
    margin-left: 550px; 
  }
}

@media only screen and (max-width: 1245px) {
  #post-head {
    margin-left: 670px;
  }
  #header {
    width: 100%;
  }
  #inner-header {
    width: 100%;
  }

  #all-black {  
    margin-left: 200px;    
  }

  #motto {
    margin-left: 220px;
  }

  #container {
      max-width: 75%;
  }
  #nav {
    width: 100%;
  }

  #nav li { 
    margin-left: 100px;
  }
    
  #nav a {
    padding: 6px 5px 6px 0px;
  }
}
    
@media only screen and (max-width: 1078px) {
  #post-head {
    margin-left: 470px;
  }

  #header {
    width: 100%;
  }

  #inner-header {
    width: 100%;
  }

  #all-black {
    margin-top: 16px;
    margin-left: 160px;    
  }

  #motto {
    margin-left: 180px;
  }

  #container {
    max-width: 75%;
  }

  #nav li { 
    margin-left: 120px;
  }
 
  input[type="submit"] {
    margin-left: 500px; 
  }
}

@media only screen and (max-width: 797px) {
    #post-head {
    margin-left: 470px;
  }

  #header {
    width: 100%;
  }

  #inner-header {
    width: 100%;
  }

  #all-black {
    margin-top: 16px;
    margin-left: 10px;    
  }

  #motto {
    margin-left: 30px;
  }

  #container {
    max-width: 100%;
  }

  #nav li { 
    margin-left: 120px;
  }

  #nav a {
    padding: 6px 20px 6px 0px;
  }
 
  input[type="submit"] {
    margin-left: 550px; 
  }
}
